 <!-- all template pages -->

 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/style.css" />
 </head>

<body>
    <img src="/images/banner.png" alt="Banner Image" class="banner"><br><br>
  <div class="car-details">
    <img src="/uploads/<%= car.image %>" alt="Car Image" class="uploaded-image"><br>
  <h1><%= car.name %></h1>
  <h2>Manufactured at: <%= car.yearMade %>. Car color is <%= car.carColor %> and it is <%= car.carType %> Type</h2>
  <% if(car.isReadyToDrive){ %>
    <p>This car is ready to be off-road.</p>
  <% } else { %>
    <p>This car is need maintenance.</p>
  <% } %>
  <a class="edit-link" href="/cars/<%= car._id %>/edit">
    <div class="edit-text">
      <button class="edit-button" type="submit"> Edit <%= car.name %> </button>
    </div>
  </a>
  <div class="car-actions">
  <form class="delete-form" action="/cars/<%= car._id %>?_method=DELETE" method="POST">
    <button class="delete-button" type="submit"> Delete <%= car.name %> </button>
  </form>
  </div>
  </div>
   <a class="cars-index-link" href="/cars">
     <div class="index-link-text">Back to All Cars</div>
   </a>
</body>